.WaitingPhase {
	height: auto;
	width: 100%;
	background: #2d2d2d;
	color: #eaeaea;
	background: #2e3b3e url(../grunge-background.png) 0 0 repeat;
}

@media only screen and (min-width: 736px) {
	.WaitingPhase {
		height: 25em;
	}	
}

.WaitingPhase header {
	text-align: center;
	text-transform: uppercase;
	padding: 2em 0;
}

.WaitingPhase .players {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.WaitingPhase .players .player {
	margin: 2em;
}

@media only screen and (min-width: 736px) {
	.WaitingPhase .players .player {
		margin: 2em 2em;
		text-align: center;
	}	
}

